.prime_color{
    color:#255ebd;
}
.netflix_color{
    color:#eb2315;
}
.hulu_color{
    color:#1ee884;
}
.disney_color{
    color:#7448a7;
}
.active{

}
.card{
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
    height: 20rem;
    border-radius: 15px;
    background-color: #ffffff;
    border: none;
}
nav{
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
}
.big_number{
    display: inline-block;
    height: 70%;
    flex-direction: column;
}


