.prime_color{
    color:#255ebd;
}
.netflix_color{
    color:#eb2315;
}
.hulu_color{
    color:#1ee884;
}
.disney_color{
    color:#7448a7;
}
.card{
    border-radius: 15px;
    background-color: #ffffff;
    border: none;
}
