{% extends "layout.html" %}
{% block content %}
    <div class="row my-4">
        <div class="col align-items-stretch">
            <div class="card mb-3 p-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="card-body">
                            <h4 class="card-title disney_color">Disney+ movies release year</h4>
                            <p class="card-text">Disney has the richest library of cartoons produced by themselves.
                                There are many projects that were released 90+ years ago making Disney+ is one of the
                                biggest family-friendly streaming platform of all time.</p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <canvas style="padding-bottom: 20px;" id="LineChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col">
            <div class="card p-3 text-center align-middle">
                <div class="card-body align-middle">
                    <h4 class="card-title disney_color">Mean</h4>
                    <div class="big_number d-flex align-items-center justify-content-center">
                        <div class="m-4">
                            <h5 class="fs-3">{{ data["imdb_mean"] }}/10</h5>
                            <h6 class="text-muted card-subtitle">IMdB rating</h6>
                        </div>
                        <div>
                            <h5 class="fs-3">{{ data["RT_mean"] }}/100</h5>
                            <h6 class="text-muted card-subtitle">Rotten tomatoes rating</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card p-3 text-center">
                <div class="card-body">
                    <h4 class="card-title disney_color">Median</h4>
                    <div class="big_number d-flex align-items-center justify-content-center">
                        <div class="m-4">
                            <h5 class="fs-3">{{ data["imdb_median"] }}/10</h5>
                            <h6 class="text-muted card-subtitle">IMdB rating</h6>
                        </div>
                        <div>
                            <h5 class="fs-3">{{ data["RT_median"] }}/100</h5>
                            <h6 class="text-muted card-subtitle">Rotten tomatoes rating</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card p-3 text-center">
                <div class="card-body">
                    <h4 class="card-title disney_color">Standard deviation</h4>
                    <div class="big_number d-flex align-items-center justify-content-center">
                        <div class="m-4">
                            <h5 class="fs-3">{{ data["imdb_std"] }}</h5>
                            <h6 class="text-muted card-subtitle">IMdB rating</h6>
                        </div>
                        <div>
                            <h5 class="fs-3">{{ data["RT_std"] }}</h5>
                            <h6 class="text-muted card-subtitle">Rotten tomatoes rating</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col align-items-stretch">
            <div class="card mb-3 p-3" style="height: 40rem">
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="card-body">
                            <h4 class="card-title disney_color">Disney+ genres</h4>
                            <p class="card-text">Due to the company's specialization the main genre is family.
                                Interesting thing is that Drama genre which is the most popular category on other
                                platform takes 6 place in Disney+. Genres like Adventure and fantasy also more popular
                                comparing them to other streaming platforms.</p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <canvas style="padding: 25px;" id="PieChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-md-8 align-items-stretch">
            <div class="card mb-3 p-3">
                <div class="row g-0">
                    <div class="col">
                        <div class="card-body">
                            <h4 class="card-title disney_color">Popular directors</h4>
                            <canvas style="padding-bottom: 4rem;" id="BarChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 align-items-stretch">
            <div class="card mb-3 p-3">
                <div class="row g-0">
                    <div class="col">
                        <div class="card-body">
                            <h4 class="card-title disney_color">Director review</h4>
                            <h5 class="card-text">Wilfred Jackson</h5>
                            <h6 class="card-text text-muted">The Band Concert <b>7.9/10</b></h6>
                            <h6 class="card-text text-muted">The Old Mill <b>7.8/10</b></h6>
                            <h6 class="card-text text-muted">Fantasia <b>7.7/10</b></h6>
                            <h6 class="card-text text-muted">The Story of the Animated Drawing <b>7.6/10</b></h6>
                            <h6 class="card-text text-muted">Snow White and the Seven Dwarfs <b>7.6/10</b></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row my-4">
        <div class="col align-items-stretch">
            <div class="card mb-3 p-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="card-body">
                            <h4 class="card-title disney_color">Age and language</h4>
                            <p class="card-text">All category takes leading place among other ages. From graph it is
                                obvious that Disney+ provides content for the whole family and avoids adult
                                categories.</p>
                            <p class="card-text">Disney+ is available only in a small amount of countries. Therefore, it
                                is not a surprise that primary language is English.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            <canvas id="PieChartAge"></canvas>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            <canvas id="PieChartLanguage"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        var years =
        {{ data["years"] }}
        var years_data =
        {{ data["years_data"] }}
        var genres =
        {{ data["genres"] | tojson}}
        var genres_data =
        {{ data["genres_data"]}}
        var ages =
        {{ data["ages"] | tojson}}
        var ages_data =
        {{ data["ages_data"] }}
        var directors =
        {{ data["directors"] | tojson}}
        var directors_data =
        {{ data["directors_data"] }}
        var languages =
        {{ data["languages"] | tojson}}
        var languages_data =
        {{ data["languages_data"] }}
    </script>
    <script src="{{ url_for('static',filename='Scripts/Disney.js') }}"></script>

{% endblock %}