{% extends "layout.html" %}
{% block content %}
    <div class="row my-4">
        <div class="col align-items-stretch">
            <div class="card mb-3 p-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="card-body">
                            <h4 class="card-title hulu_color">Hulu movies release year</h4>
                            <p class="card-text">Hulu was created in 2007 and nowadays belongs to Disney. Amount of
                                available movies is less comparing them to the other streaming platforms. As for the
                                content, Hulu has smallest library of projects. However, in the recent years it started
                                to fix this problem.</p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <canvas style="padding-bottom: 20px;" id="LineChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col">
            <div class="card p-3 text-center align-middle">
                <div class="card-body align-middle">
                    <h4 class="card-title hulu_color">Mean</h4>
                    <div class="big_number d-flex align-items-center justify-content-center">
                        <div class="m-4">
                            <h5 class="fs-3">{{ data["imdb_mean"] }}/10</h5>
                            <h6 class="text-muted card-subtitle">IMdB rating</h6>
                        </div>
                        <div>
                            <h5 class="fs-3">{{ data["RT_mean"] }}/100</h5>
                            <h6 class="text-muted card-subtitle">Rotten tomatoes rating</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card p-3 text-center">
                <div class="card-body">
                    <h4 class="card-title hulu_color">Median</h4>
                    <div class="big_number d-flex align-items-center justify-content-center">
                        <div class="m-4">
                            <h5 class="fs-3">{{ data["imdb_median"] }}/10</h5>
                            <h6 class="text-muted card-subtitle">IMdB rating</h6>
                        </div>
                        <div>
                            <h5 class="fs-3">{{ data["RT_median"] }}/100</h5>
                            <h6 class="text-muted card-subtitle">Rotten tomatoes rating</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card p-3 text-center">
                <div class="card-body">
                    <h4 class="card-title hulu_color">Standard deviation</h4>
                    <div class="big_number d-flex align-items-center justify-content-center">
                        <div class="m-4">
                            <h5 class="fs-3">{{ data["imdb_std"] }}</h5>
                            <h6 class="text-muted card-subtitle">IMdB rating</h6>
                        </div>
                        <div>
                            <h5 class="fs-3">{{ data["RT_std"] }}</h5>
                            <h6 class="text-muted card-subtitle">Rotten tomatoes rating</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col align-items-stretch">
            <div class="card mb-3 p-3" style="height: 40rem">
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="card-body">
                            <h4 class="card-title hulu_color">Hulu genres</h4>
                            <p class="card-text">Genres are pretty similar to other streaming platforms. The biggest
                                categories are Drama and Comedy. There is nothing special about that data.</p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <canvas style="padding: 25px;" id="PieChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-md-8 align-items-stretch">
            <div class="card mb-3 p-3">
                <div class="row g-0">
                    <div class="col">
                        <div class="card-body">
                            <h4 class="card-title hulu_color">Popular directors</h4>
                            <canvas style="padding-bottom: 4rem;" id="BarChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 align-items-stretch">
            <div class="card mb-3 p-3">
                <div class="row g-0">
                    <div class="col">
                        <div class="card-body">
                            <h4 class="card-title hulu_color">Director review</h4>
                            <h5 class="card-text">Ron Howard</h5>
                            <h6 class="card-text text-muted">The Beatles: Eight Days a Week - The Touring Years <b>7.8/10</b>
                            </h6>
                            <h6 class="card-text text-muted">Rebuilding Paradise <b>7.0/10</b></h6>
                            <h6 class="card-text text-muted">Angels & Demons <b>6.7/10</b></h6>
                            <h6 class="card-text text-muted">The Da Vinci Code <b>6.6/10</b></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row my-4">
        <div class="col align-items-stretch">
            <div class="card mb-3 p-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="card-body">
                            <h4 class="card-title hulu_color">Age and language</h4>
                            <p class="card-text">Data is very similar to Netflix. The main age category is 18+ but
                                categories for children or young adults are significantly lower in amount comparing them
                                to Netflix categories.</p>
                            <p class="card-text">Small amount of project makes them more local to the countries where
                                Hulu is available. Therefore, main language is English.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            <canvas id="PieChartAge"></canvas>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            <canvas id="PieChartLanguage"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        var years =
        {{ data["years"] }}
        var years_data =
        {{ data["years_data"] }}
        var genres =
        {{ data["genres"] | tojson}}
        var genres_data =
        {{ data["genres_data"]}}
        var ages =
        {{ data["ages"] | tojson}}
        var ages_data =
        {{ data["ages_data"] }}
        var directors =
        {{ data["directors"] | tojson}}
        var directors_data =
        {{ data["directors_data"] }}
        var languages =
        {{ data["languages"] | tojson}}
        var languages_data =
        {{ data["languages_data"] }}
    </script>
    <script src="{{ url_for('static',filename='Scripts/Hulu.js') }}"></script>
{% endblock %}