{% extends "layout.html" %}
{% block content %}
    <div class="row my-4">
        <div class="col align-items-stretch">
            <div class="card mb-3 p-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="card-body">
                            <h4 class="card-title  ">Movie release year</h4>
                            <p class="card-text">Overall, there are not many old movies available in such platforms like
                                Netflix, Hulu, etc. There are many thing for that. Movie industry development,
                                copyrights and other reasons make old movies outsider from the modern streaming
                                platform.</p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <canvas style="padding-bottom: 20px;" id="LineChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col">
            <div class="card p-3 text-center align-middle">
                <div class="card-body align-middle">
                    <h4 class="card-title  ">Mean</h4>
                    <div class="big_number d-flex align-items-center justify-content-center">
                        <div class="m-4">
                            <h5 class="fs-3">{{ data["imdb_mean"] }}/10</h5>
                            <h6 class="text-muted card-subtitle">IMdB rating</h6>
                        </div>
                        <div>
                            <h5 class="fs-3">{{ data["RT_mean"] }}/100</h5>
                            <h6 class="text-muted card-subtitle">Rotten tomatoes rating</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card p-3 text-center">
                <div class="card-body">
                    <h4 class="card-title  ">Median</h4>
                    <div class="big_number d-flex align-items-center justify-content-center">
                        <div class="m-4">
                            <h5 class="fs-3">{{ data["imdb_median"] }}/10</h5>
                            <h6 class="text-muted card-subtitle">IMdB rating</h6>
                        </div>
                        <div>
                            <h5 class="fs-3">{{ data["RT_median"] }}/100</h5>
                            <h6 class="text-muted card-subtitle">Rotten tomatoes rating</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card p-3 text-center">
                <div class="card-body">
                    <h4 class="card-title">Standard deviation</h4>
                    <div class="big_number d-flex align-items-center justify-content-center">
                        <div class="m-4">
                            <h5 class="fs-3">{{ data["imdb_std"] }}</h5>
                            <h6 class="text-muted card-subtitle">IMdB rating</h6>
                        </div>
                        <div>
                            <h5 class="fs-3">{{ data["RT_std"] }}</h5>
                            <h6 class="text-muted card-subtitle">Rotten tomatoes rating</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col align-items-stretch">
            <div class="card mb-3 p-3" style="height: 40rem">
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="card-body">
                            <h4 class="card-title">Genres</h4>
                            <p class="card-text">The most popular genre available on streaming platforms - Drama. Second
                                place takes comedy. It is hard to say why only these two categories take leading places
                                but we can assume that genres that evoke emotions in people make more money and make
                                people more involved in movie.</p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <canvas style="padding: 25px;" id="PieChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-md-8 align-items-stretch">
            <div class="card mb-3 p-3">
                <div class="row g-0">
                    <div class="col">
                        <div class="card-body">
                            <h4 class="card-title  ">Popular directors</h4>
                            <canvas style="padding-bottom: 4rem;" id="BarChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 align-items-stretch">
            <div class="card mb-3 p-3">
                <div class="row g-0">
                    <div class="col">
                        <div class="card-body">
                            <h4 class="card-title">Director review</h4>
                            <h5 class="card-text">Jay Chapman</h5>
                            <h6 class="card-text text-muted">Tom Segura: Completely Normal <b>7.8/10</b></h6>
                            <h6 class="card-text text-muted">Chris Porter: Ugly and Angry <b>7.8/10</b></h6>
                            <h6 class="card-text text-muted">Jim Gaffigan: Obsessed <b>7.6/10</b></h6>
                            <h6 class="card-text text-muted">Gary Gulman: In This Economy? <b>7.5/10</b></h6>
                            <h6 class="card-text text-muted">Tom Papa: Freaked Out <b>7.4/10</b></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row my-4">
        <div class="col align-items-stretch">
            <div style="height: 30rem" class="card mb-3 p-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="card-body">
                            <h4 class="card-title">Runtime and rating relation</h4>
                            <p class="card-text">There is no clear relation between movie runtime and its rating. As it
                                can be seen from the graph all categories of duration have either bad or good marks.
                                Therefore there is correlation between these parameters. </p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        {% include "runtime_rating.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-4">
        <div class="col align-items-stretch">
            <div style="height: 30rem" class="card mb-3 p-3">
                <div class="row g-0">
                    <div class="col-md-3">
                        <div class="card-body">
                            <h4 class="card-title">Release map</h4>
                            <p class="card-text">The main place filming is USA. Majority of movies and TV-series were
                                filmed there. Being an American company netflix prefer to hire directors in
                                English-speaking countries like the USA and Britain. However, almost 900 projects were
                                created in India. For some reasons directors from this country create twice more movies
                                than the USA or British directors.</p>
                        </div>
                    </div>
                    <div class="col-md-9">
                        {% include "map.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col align-items-stretch">
            <div class="card mb-3 p-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="card-body">
                            <h4 class="card-title">Age and language</h4>
                            <p class="card-text">As well as Netflix, overall statistics shows that significant part of
                                movies were created for adult auditory. Other categories have about 40% of the
                                marking.
                            <p class="card-text">English remains the main language for all streaming platforms. </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            <canvas id="PieChartAge"></canvas>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            <canvas id="PieChartLanguage"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        var years =
        {{ data["years"] }}
        var years_data =
        {{ data["years_data"] }}
        var genres =
        {{ data["genres"] | tojson}}
        var genres_data =
        {{ data["genres_data"]}}
        var ages =
        {{ data["ages"] | tojson}}
        var ages_data =
        {{ data["ages_data"] }}
        var directors =
        {{ data["directors"] | tojson}}
        var directors_data =
        {{ data["directors_data"] }}
        var languages =
        {{ data["languages"] | tojson}}
        var languages_data =
        {{ data["languages_data"] }}
    </script>
    <script src="{{ url_for('static',filename='Scripts/index.js') }}"></script>
{% endblock %}