{% extends "layout.html" %}
{% block content %}
    <div class="row my-4">
        <div class="col align-items-stretch">
            <div class="card mb-3 p-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="card-body">
                            <h4 class="card-title netflix_color">Netflix movies release year</h4>
                            <p class="card-text" style="font-size: 15px">Netflix is famous for its TV-series. Especially
                                for its amount. The
                                highest amount of series was released in 2018-2020 but many of them were postponed due
                                to pandemic. However, as we can see from the graph it is obvious that Netflix produces
                                only modern TV-show and lacks some old classic.</p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <canvas style="padding-bottom: 20px;" id="LineChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col">
            <div class="card p-3 text-center align-middle">
                <div class="card-body align-middle">
                    <h4 class="card-title netflix_color">Mean</h4>
                    <div class="big_number d-flex align-items-center justify-content-center">
                        <div class="m-4">
                            <h5 class="fs-3">{{ data["imdb_mean"] }}/10</h5>
                            <h6 class="text-muted card-subtitle">IMdB rating</h6>
                        </div>
                        <div>
                            <h5 class="fs-3">{{ data["RT_mean"] }}/100</h5>
                            <h6 class="text-muted card-subtitle">Rotten tomatoes rating</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card p-3 text-center">
                <div class="card-body">
                    <h4 class="card-title netflix_color">Median</h4>
                    <div class="big_number d-flex align-items-center justify-content-center">
                        <div class="m-4">
                            <h5 class="fs-3">{{ data["imdb_median"] }}/10</h5>
                            <h6 class="text-muted card-subtitle">IMdB rating</h6>
                        </div>
                        <div>
                            <h5 class="fs-3">{{ data["RT_median"] }}/100</h5>
                            <h6 class="text-muted card-subtitle">Rotten tomatoes rating</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card p-3 text-center">
                <div class="card-body">
                    <h4 class="card-title netflix_color">Standard deviation</h4>
                    <div class="big_number d-flex align-items-center justify-content-center">
                        <div class="m-4">
                            <h5 class="fs-3">{{ data["imdb_std"] }}</h5>
                            <h6 class="text-muted card-subtitle">IMdB rating</h6>
                        </div>
                        <div>
                            <h5 class="fs-3">{{ data["RT_std"] }}</h5>
                            <h6 class="text-muted card-subtitle">Rotten tomatoes rating</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col align-items-stretch">
            <div class="card mb-3 p-3" style="height: 40rem">
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="card-body">
                            <h4 class="card-title netflix_color">Netflix genres</h4>
                            <p class="card-text">The most popular genres on Netflix are Comedy and Drama. Other
                                categories can be either expensive or unpopular for a big auditory which Netflix
                                certainly has. All in all, there is nothing special about it.</p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <canvas style="padding: 25px;" id="PieChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-md-8 align-items-stretch">
            <div class="card mb-3 p-3">
                <div class="row g-0">
                    <div class="col">
                        <div class="card-body">
                            <h4 class="card-title netflix_color">Popular directors</h4>
                            <canvas style="padding-bottom: 4rem;" id="BarChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 align-items-stretch">
            <div class="card mb-3 p-3">
                <div class="row g-0">
                    <div class="col">
                        <div class="card-body">
                            <h4 class="card-title netflix_color">Top director films</h4>
                            <h5 class="card-text my-3">Raúl Campos</h5>
                            <h6 class="card-text text-muted">Luciano Mellera: Infantiloide <b>8.2/10</b></h6>
                            <h6 class="card-text text-muted">Sofía Niño de Rivera: Exposed <b>7.4/10</b></h6>
                            <h6 class="card-text text-muted">Carlos Ballarta: Furia Ñera <b>7.2/10</b></h6>
                            <h6 class="card-text text-muted">Carlos Ballarta: El Amor es de Putos <b>7.1/10</b></h6>
                            <h6 class="card-text text-muted">Todo lo que sería Lucas Lauriente <b>7.0/10</b></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row my-4">
        <div class="col align-items-stretch">
            <div class="card mb-3 p-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="card-body">
                            <h4 class="card-title netflix_color">Age and language</h4>
                            <p class="card-text">Netflix is various in terms of age category. Many of its movies has 18+
                                rating. About 38% of movies were created for younger category.
                            </p>
                            <p class="card-text">All mentioned before is available mostly on English languages. To sum
                                it up, Netflix wants to create an entertainment for the whole family
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            <canvas id="PieChartAge"></canvas>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            <canvas id="PieChartLanguage"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        var years =
        {{ data["years"] }}
        var years_data =
        {{ data["years_data"] }}
        var genres =
        {{ data["genres"] | tojson}}
        var genres_data =
        {{ data["genres_data"]}}
        var ages =
        {{ data["ages"] | tojson}}
        var ages_data =
        {{ data["ages_data"] }}
        var directors =
        {{ data["directors"] | tojson}}
        var directors_data =
        {{ data["directors_data"] }}
        var languages =
        {{ data["languages"] | tojson}}
        var languages_data =
        {{ data["languages_data"] }}
    </script>
    <script src="{{ url_for('static',filename='Scripts/Netflix.js') }}"></script>
{% endblock %}
