{% extends "layout.html" %}
{% block content %}
    <div class="row my-4">
        <div class="col align-items-stretch">
            <div class="card mb-3 p-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="card-body">
                            <h4 class="card-title prime_color">Prime movies release year</h4>
                            <p class="card-text">Amazon has a significant amount of old movies in library. In fact it is
                                the only streaming service which has a reach library of old school movies and also
                                provides a lot of modern products.</p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <canvas style="padding-bottom: 20px;" id="LineChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col">
            <div class="card p-3 text-center align-middle">
                <div class="card-body align-middle">
                    <h4 class="card-title prime_color">Mean</h4>
                    <div class="big_number d-flex align-items-center justify-content-center">
                        <div class="m-4">
                            <h5 class="fs-3">{{ data["imdb_mean"] }}/10</h5>
                            <h6 class="text-muted card-subtitle">IMdB rating</h6>
                        </div>
                        <div>
                            <h5 class="fs-3">{{ data["RT_mean"] }}/100</h5>
                            <h6 class="text-muted card-subtitle">Rotten tomatoes rating</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card p-3 text-center">
                <div class="card-body">
                    <h4 class="card-title prime_color">Median</h4>
                    <div class="big_number d-flex align-items-center justify-content-center">
                        <div class="m-4">
                            <h5 class="fs-3">{{ data["imdb_median"] }}/10</h5>
                            <h6 class="text-muted card-subtitle">IMdB rating</h6>
                        </div>
                        <div>
                            <h5 class="fs-3">{{ data["RT_median"] }}/100</h5>
                            <h6 class="text-muted card-subtitle">Rotten tomatoes rating</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card p-3 text-center">
                <div class="card-body">
                    <h4 class="card-title prime_color">Standard deviation</h4>
                    <div class="big_number d-flex align-items-center justify-content-center">
                        <div class="m-4">
                            <h5 class="fs-3">{{ data["imdb_std"] }}</h5>
                            <h6 class="text-muted card-subtitle">IMdB rating</h6>
                        </div>
                        <div>
                            <h5 class="fs-3">{{ data["RT_std"] }}</h5>
                            <h6 class="text-muted card-subtitle">Rotten tomatoes rating</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col align-items-stretch">
            <div class="card mb-3 p-3" style="height: 40rem">
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="card-body">
                            <h4 class="card-title prime_color">Prime videos genres</h4>
                            <p class="card-text">As well as everywhere, Drama and Comedy are top genres. However, Prime
                                Videos has very balanced categories and provides something for everyone.</p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <canvas style="padding: 25px;" id="PieChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-md-8 align-items-stretch">
            <div class="card mb-3 p-3">
                <div class="row g-0">
                    <div class="col">
                        <div class="card-body">
                            <h4 class="card-title prime_color">Popular directors</h4>
                            <canvas style="padding-bottom: 4rem;" id="BarChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 align-items-stretch">
            <div class="card mb-3 p-3">
                <div class="row g-0">
                    <div class="col">
                        <div class="card-body">
                            <h4 class="card-title prime_color">Director review</h4>
                            <h5 class="card-text">Jay Chapman</h5>
                            <h6 class="card-text text-muted">Tom Segura: Completely Normal <b>7.8/10</b></h6>
                            <h6 class="card-text text-muted">Chris Porter: Ugly and Angry <b>7.8/10</b></h6>
                            <h6 class="card-text text-muted">Jim Gaffigan: Obsessed <b>7.6/10</b></h6>
                            <h6 class="card-text text-muted">Gary Gulman: In This Economy? <b>7.5/10</b></h6>
                            <h6 class="card-text text-muted">Tom Papa: Freaked Out <b>7.4/10</b></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row my-4">
        <div class="col align-items-stretch">
            <div class="card mb-3 p-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="card-body">
                            <h4 class="card-title prime_color">Rating of other directors</h4>
                            <p class="card-text">Prime Videos has the biggest 18+ category comparing to other streaming
                                platforms. The content for children is available and balanced. However, it is still
                                small enough.</p>
                            <p class="card-text">
                                There are not many languages available because Prime videos in unavailable in many
                                countries around the world.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            <canvas id="PieChartAge"></canvas>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            <canvas id="PieChartLanguage"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        var years =
        {{ data["years"] }}
        var years_data =
        {{ data["years_data"] }}
        var genres =
        {{ data["genres"] | tojson}}
        var genres_data =
        {{ data["genres_data"]}}
        var ages =
        {{ data["ages"] | tojson}}
        var ages_data =
        {{ data["ages_data"] }}
        var directors =
        {{ data["directors"] | tojson}}
        var directors_data =
        {{ data["directors_data"] }}
        var languages =
        {{ data["languages"] | tojson}}
        var languages_data =
        {{ data["languages_data"] }}
    </script>
    <script src="{{ url_for('static',filename='Scripts/Prime.js') }}"></script>
{% endblock %}